table{
    background-color: green;
    width: 50px;
}

#right-panel {
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   padding-left: 10px;
}

#right-panel select, #right-panel input {
   font-size: 15px;
}

#right-panel select {
   width: 100%;
}

#right-panel i {
   font-size: 12px;
}

#right-panel {
   float: right;
   width: 34%;
   height: 100%;
}

* {
  box-sizing: border-box;
}

#logo {
  width: 5%;
}

.nav-wrapper {
  border: 2px solid black;
}

#map {
  margin-top: 4%;
}

.nutritionTitles {
  display: inline-block;
  width: 70%
}

.nutrition {
  margin-top: 5%;
}

.nutritionTitles {
  display: inline-block;
  width: 100%
}

#map {
  height: 80vh;
  display: none;
}

.nutritionTitles .right-align {
  float: right;
}

.nutrition > div {
  border: 2px solid black;
}

.nutritionTitles > div {
  border: 1px solid black;
}

.yelp {
  width: 90%;
}

.yelpImage img {
  width: 100%;
  position: relative;
}

.yelp > div {
  border: 2px solid black;
  margin-top: 10%;
}