* {
  box-sizing: border-box;
}

#logo {
  width: 5%;
}

.nav-wrapper {
  border: 2px solid black;
}

#map {
  margin-top: 4%;
}

.nutrition {
  margin-top: 5%;
}

.nutritionTitles {
  display: inline-block;
  width: 100%
}

#map {
  height: 80vh;
  display: none;
}

.nutritionTitles .right-align {
  float: right;
}

.nutrition > div{
  border: 2px solid black;
}

.nutritionTitles > div {
  border: 1px solid black;
}

.yelp {
  width: 90%;
}

.yelpImage img {
  width: 100%;
  position: relative;
}

.yelp > div {
  border: 2px solid black;
  margin-top: 10%;
}