table{
    background-color: green;
    width: 50px;
}

#right-panel {
   font-family: 'Roboto','sans-serif';
   line-height: 30px;
   padding-left: 10px;
}

#right-panel select, #right-panel input {
   font-size: 15px;
}

#right-panel select {
   width: 100%;
}

#right-panel i {
   font-size: 12px;
}

#right-panel {
   float: right;
   width: 34%;
   height: 100%;
}

* {
  box-sizing: border-box;
}

#logo {
  width: 5%;
}

.nav-wrapper {
  border: 2px solid black;
}

#mapAndPic {
  width: 100%;
  margin-top: 4%;
}

#pic img{
  width: 60%;
}

.nutritionTitles {
  display: inline-block;
  width: 70%
}

.nutrition {
  margin-top: 5%;
}

.nutritionTitles {
  display: inline-block;
  width: 100%
}

#map{
  height: 80vh;
  display: none;
}

#findMore {
  display: inline-block;
  /* padding: 15px 25px; */
  /* font-size: 24px; */
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

#findMore:hover {
  background-color: rgb(194, 132, 16);
}

#findMore:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
 
.nutritionTitles .right-align {
  float: right;
}

.nutrition > div {
  border: 2px solid black;
}

.nutritionTitles > div {
  border: 1px solid black;
}

.yelp {
  width: 90%;
}

.yelpImage img {
  width: 100%;
  position: relative;
}

#map {
  height: 50vh;
}

#yelpImage {
  height:100%;
  width: 100%;
}
.yelp > div {
  border: 2px solid black;
  margin-top: 10%;

}